body {
  background-color: #d2c0d6;
}
header h1 {
  text-align: center;
  padding: 5px 0px 15px 0px;
  line-height: 100%;
  font-family: DotGothic16;
}
#happyDay {
  padding: 20px 0px 0px 0px;
}
.container {
  border: 1px solid black;
  border-radius: 10px;
  background-image: url("src//Backgrounds/clouds.jpeg");
  max-width: 700px;
  margin: 0 auto;
  background-size: cover;
}
h1,
h2,
p {
  margin: 0px;
  font-weight: bold;
}
form {
  text-align: center;
  padding: 20px 0px 5px 0px;
  font-family: DotGothic16;
}
#formButton {
  border: 1px solid black;
  border-radius: 2px;
  background-color: #d2c0d6;
}
#formButton:hover {
  background-color: #1672fc;
}
#city-input {
  border: 1px solid black;
  border-radius: 2px;
  outline: none;
}
#city-input:focus {
  border: 1px solid #1672fc;
}
.currentLocationOption {
  text-align: center;
  font-size: 12px;
  font-family: DotGothic16;
  padding: 0px 0px 5px 0px;
  font-weight: bold;
}
.currentLocationOption a:link {
  text-decoration: none;
  color: #1672fc;
}
.currentLocationOption a:hover {
  cursor: pointer;
  color: #9175aa;
}
.main {
  padding: 0px;
  margin: 0px 0px 20px 10px;
  font-family: DotGothic16;
}
#looksLikeImg img {
  width: 28px;
}
.weatherSpecs {
  line-height: 120%;
  font-size: 14px;
  padding: 10px 0px;
}
.temp h1 {
  font-size: 77px;
  padding: 0px;
  margin: 0px;
}
.temp {
  text-align: left;
  padding-top: 40px;
  line-height: 10px;
  margin: 0px;
}
.degrees {
  font-size: 16px;
  vertical-align: text-top;
}
.degrees .active a:link {
  color: black;
}
.degrees .active a:hover {
  cursor: default;
  color: black;
}
.degrees .inactive a:link {
  color: #1672fc;
  text-decoration: none;
}
.degrees .inactive a:hover {
  text-decoration: none;
  color: #9175aa;
  cursor: pointer;
}
.highLow {
  font-size: 14px;
}
.moonforecast {
  text-align: center;
  padding: 0px;
  margin: 0px;
  line-height: 11px;
  font-size: 13px;
}
#moonImg img {
  width: 52px;
  margin: 0 auto;
  padding: 0px;
}
#sunsignImg img {
  width: 10%;
}
.extendedforecast {
  text-align: center;
  line-height: 7px;
  padding: 0px 0px 20px 0px;
  margin: 0px;
  font-family: DotGothic16;
}
.cloudsm img {
  width: 28px;
  padding: 5px 0px;
}
footer {
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  font-family: DotGothic16;
  font-weight: bold;
}
#gitHubLink a:link {
  text-decoration: none;
  color: #1672fc;
}
#gitHubLink a:hover {
  color: #9175aa;
}
